{% extends 'base.html' %}

<!--  -->
{% block head %}
        <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block body %}

<div class="row">
    <h5>Playing {{ objectName }}</h5>

        <center>
            <video id="my-video" class="video-js vjs-big-play-centered vjs-default-skin" controls preload="auto" width="1200%" height="700%" data-setup="{}">
                <source src="{{videoURL}}"/>
            </video>
        </center>

</div>

<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script>
    videojs('my-video', {
        controls: true,
        autoplay: true,
        preload: 'auto',
        playbackRates: [0.5, 1, 1.5, 2]
    });

    videojs.options.autoplay = true;
</script>

{% endblock %}
